{
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "extends": "eslint:recommended",
  "env": {
    "es6": true,
    "browser": true,
    "jquery": true,
    "node": true
  },
  "plugins": [
    "fp"
  ],
  "rules": {
    "semi": 1,
    "indent": [
      "warn",
      2
    ],
    "no-console": "warn",
    "no-debugger": "warn",
    "no-unused-vars": "warn",
    // everything after this is for functional programming linting
    "fp/no-arguments": "warn",
    "fp/no-class": "warn",
    "fp/no-delete": "warn",
    "fp/no-events": "warn",
    "fp/no-get-set": "warn",
    "fp/no-let": "warn",
    "fp/no-loops": "warn",
    "fp/no-mutating-assign": "warn",
    "fp/no-mutating-methods": "warn",
    "fp/no-mutation": "warn",
    "fp/no-nil": "warn",
    "fp/no-proxy": "warn",
    "fp/no-rest-parameters": "warn",
    "fp/no-this": "warn",
    "fp/no-throw": "warn",
    "fp/no-unused-expression": "warn",
    "fp/no-valueof-field": "warn",
    "no-var": "warn"
  }
}